/*
    ============================================ Nav bar top ================================
*/

.nav-div {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 5px 0px;
  border-bottom: 1px solid #E2E2E2;
  position: sticky;
  top: 0;
  background-color: white;
}

.menu-i {
  justify-self: start;
  margin-left: 25px;
  font-size: 0.9rem;
}

.s-icon {
  justify-self: start;
  margin-left: 40px;
  font-size: small;
}

.sc-link {
  justify-self: start;
  margin-left: 40px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 0.9rem;
  color: black;
  white-space: nowrap;
}
.sc-link:hover {
  text-decoration: underline;
}
.logo-img {
  width: 200px;
  margin: 0 340px;
}

.nav-btns {
  background-color: #567b95;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 11px;
  padding: 11px 10px 8px 12px;
  border: 1px solid #2c4f68;
  border-radius: 3px;
  margin-right: 7px;
  white-space: nowrap;
}

.nav-btns:hover {
  background-color: #305874;
}
.login-btn {
  margin-right: 30px;
}

/* ============================================== Main section ============================= */

.article-header {
  margin: 40px auto;
  width: 944px;
}

.main-heading  {
  font-family: "nyt-cheltenham", georgia, "times new roman", times, serif;
  max-width: 600px;
  font-size: 2.2rem;
  line-height: 3rem;
  font-weight: 550;
  margin: 60px 200px 30px 180px;
  font-style: italic;
  
}

.main-img img {
  width: 100%;
}

.author-section {
  width: 600px;
  margin: 0 auto;
}
.devis-h3 {
  font-family: Helvetica, Arial, sans-serif;
  color: #333333;
}
.devis-link {
  text-decoration-color: lightgray;
  color: #333333;  
}

.devis-link:hover {
  text-decoration: none;
}
.share-icons {
  display: flex;
  justify-content: space-between;
  margin: 30px 0px;
}

.share-icons i {
  margin: 0 10px;
}
.share-icons :hover {
  background-color: white;
}
.i1 {
  background-color: rgb(236, 236, 236);
  border: 1px solid rgb(231, 229, 229);
  border-radius: 50%;
  padding: 4px;
  font-size: smaller;
}
.i2 {
  font-size: x-large;
  color: rgb(48, 47, 47);
}
.i2:hover {
  color: rgb(230, 230, 230);
}
.i-link {
  text-decoration: none;
  color: inherit;
}
.article-content p {
  width: 600px;
  margin: 20px auto;
  font-family: georgia, 'times new roman', times,serif;
  font-size: 20px;
  line-height: 1.5;
  color: #333333;
}

.article-content span {
  display: block;
  margin: auto;
  width: 600px;
  font-family: georgia, 'times new roman', times,serif;
  font-size: 20px;
  font-weight: bold;
  color: #333333;
}

.second-section {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.article-content-wrapper {
  margin-left: 285px;
}

.create-account-call {
  /* margin: 0 auto; */
  text-align: center;
}

.create-account-call hr {
  width: 60px;
  margin: 30px auto;
}

.unlock-span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  display: inline-block;
  margin-bottom: 6px;
}
.create-account-call a {
  text-decoration: none;
  color: rgb(50, 104, 145);
}

.editors-picks-wrapper {
  width: 210px;
  margin-left: 75px;
  align-self: center;
}

.editors-picks-wrapper img {
  width: 75px;
  margin-right: 10px;
}

.editors-picks-wrapper a {
  width: 210px;
}

.editors-picks-articles {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}

.editors-picks-articles a {
  text-decoration: none;
  color: #333;
}

.editors-picks-articles a:hover {
  text-decoration: underline;
}
.editorp-span {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 14px;
}

.illustration {
  width: 945px;
  margin: auto;
}

.illustration img {
  width: 100%;
  /* margin: auto; */
  text-align: center;
}

.youtube-video {
  width: 600px;
  margin: auto;
}

figcaption {
  margin-top: 7px;
  line-height: 1.2;
}

figcaption span:nth-child(1) {
  font-family: georgia, 'times new roman', times, serif;
  color: #666666;
}

figcaption span:nth-child(2) {
  font-family: georgia, 'times new roman', times, serif;
  color: #a1a1a1;
  font-size: smaller;
}

.article-image {
  width: 600px;
  margin: auto;
}

.cosmos-img {
  width: 100%;
}

.article-footer {
  width: 600px;
  margin: auto;
}

.read-comments {
  display: flex;
  justify-content: space-between;
}

.read-comments button {
  width: 330px;
}

.read-comments i {
  margin: 0 10px;
}

.recommended-articles {
  border: 1px solid black;
  max-width: 1280px;
  margin: auto;
  display: flex;
}
.hr-black {
  border-top: 1px solid black;
}

.recommended-articles-left {
  
}

.rec-articles-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 900px;
}

.article-tile {
  width: 272px;
  margin: 13px;
}

.article-tile img {
  width: 100%;
}

.tile-div{
  width: 100%;
}

.recomended-articles-right {
  margin-left: 20px;
}

.mp-links {
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;;
  font-size: 17px;
  font-weight: normal;
  line-height: 1.4;
  color: #121212;
  text-decoration: none;
  display: inline-block;
  margin: 10px 0px;
}

.mp-span{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 15px;
}

.bottom-nav {
  width: 1280px;
  margin: auto;
}

.bottom-nav-links {
  display: flex;
  justify-content: space-between;
}

.bottom-nav-links span, a {
  display: block;
}

.bottom-nav-header img {
  width: 184px;
}

footer {
  text-align: center;
}

footer a {
  display: inline;
  /* text-align: center; */

}